binds {
    Ctrl+Alt+Delete hotkey-overlay-title="Power Menu: Toggle" { spawn "dms" "ipc" "call" "powermenu" "toggle"; }
    Mod+Escape allow-inhibiting=false hotkey-overlay-title="Power Menu: Toggle" { spawn "dms" "ipc" "call" "powermenu" "toggle"; }
    Mod+Shift+P hotkey-overlay-title="Settings: Toggle" { spawn "dms" "ipc" "call" "settings" "toggle"; }
    Super+Alt+L hotkey-overlay-title="Lock Screen" { spawn "dms" "ipc" "call" "lock" "lock"; }
    Super+Shift+W hotkey-overlay-title="Wallpaper: Next" { spawn "dms" "ipc" "call" "wallpaper" "next"; }
    XF86MonBrightnessDown allow-when-locked=true hotkey-overlay-title="Brightness Down (5%)" { spawn "dms" "ipc" "call" "brightness" "decrement" "5" ""; }
    XF86MonBrightnessUp allow-when-locked=true hotkey-overlay-title="Brightness Up (5%)" { spawn "dms" "ipc" "call" "brightness" "increment" "5" ""; }
    Mod+Alt+P hotkey-overlay-title="Screenshot Window" { screenshot-window; }
    Mod+Ctrl+P hotkey-overlay-title="Screenshot Screen" { screenshot-screen; }
    Mod+P hotkey-overlay-title="Screenshot" { screenshot; }
    Mod+E hotkey-overlay-title="File Explorer" { spawn "nautilus"; }
    Super+Return hotkey-overlay-title="Open a Terminal: ghostty" { spawn "ghostty"; }
    Super+space hotkey-overlay-title="Run an Application: fuzzel" { spawn "fuzzel"; }
    Mod+A hotkey-overlay-title="Overview" { toggle-overview; }
}
